In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('dataset/private-data.csv')

In [3]:
df.head()

   first_column  second_column
0             0             10
1             1             11
2             2             12
3             3             13
4             4             14